.clear:after{
	content: "";
	display: table;
	clear: both;
}

.header{
	width: 100%;
	height: 4.0rem;
	margin-bottom: 0.14rem;
}

.active-wapper{
	padding: 0 0.4rem;
}

.active-intro{
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 0.4rem;
}

.active-time{
	padding: 0.4rem 0;
	border-bottom: 1px solid #ddd;
}

.active-time h2{
	font-size: 20px;
	padding-bottom: 0.4rem;
	color: rgb(0, 160, 235);
}

.active-time li{
	font-size: 14px;
}

.active-award{
	padding: 0.4rem 0;
	border-bottom: 1px solid #ddd;
}

.active-award h2{
	font-size: 20px;
	padding-bottom: 0.4rem;
	color: rgb(0, 160, 235);
}

.award-list{
	display: flex;
	display: -webkit-flex;
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

.award-list .award{
	align-items: center;
}

.award div{
	text-align: center;
}

.award h3{
	font-size: 16px;
    height: 0.6rem;
    line-height: 0.6rem;
}

.active-cor{
	padding: 0.4rem 0;
	margin-bottom: 1.7rem;
}

.active-cor h2{
	font-size: 20px;
	padding-bottom: 0.4rem;
	color: rgb(0, 160, 235);
}

.active-cor li{
	float: left;
	font-size: 14px;
	padding-right: 0.5rem;
}

.active-bottom{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1.67rem;
	padding: 0 0.4rem;
}

.active-bottom button{
	width: 100%;
	height: 1rem;
	color: #fff;
	background-color: rgb(0,160,234);
	border: 0;
	border-radius: 0.2rem;
}